<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">

	<th:block th:fragment="content">
	
		<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="../BOARD/style.css"> -->
<link href="/css/formstyle.css" rel="stylesheet">
<title>게시물 수정</title>
<style>
.w-btn-gray {
	background-color: #a3a1a1;
	color: #e3dede;
}

textarea {
    width: 87%;
    height: 6.25em;
    resize: none;

  }

.w-btn {
	position: relative;
	border: none;
	display: inline-block;
	padding: 10px 20px;
	margin: 0px 10px 0px 10px;
	border-radius: 15px;
	font-family: "paybooc-Light", sans-serif;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
}

.card {
	overflow: hidden;
	height: auto;
}
</style>
		</head>
		<body>
		
			<div class="card">

				<div class="card-edit">
					<div class="card-header4">
						<h3>게시물 조회</h3>
					</div>
					<form>
					<div class="title">
						<label>게시물 번호</label><input type="text" 
						name="boardNo"	th:value="${dto.boardNo}"
							readonly>
					</div>
					<div class="title">
						<label>게시물 제목</label><input type="text"
						name="boardTitle"	th:value="${dto.boardTitle}">
					</div>
					<div class="title">
							<label>게시물 내용</label>
						<textarea rows="3" name = "boardContent">[[${dto.boardContent}]]</textarea>
						</div>
					<!-- <div class="title">
						<label>게시물 작성자</label> <input type="text"
						name="boardWriter"	th:value="${dto.boarWriter}" readonly>
					</div> -->

					<!-- <div class="title">
						<label>등록일</label> <input type="text"
						name="regDate"	th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}"
							readonly>
					</div>
					<div class="title">
						<label>수정일</label> <input type="text"
						name="modDate"	th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}"
							readonly>
					</div> -->
			
						<div class="title">
							<label>첨부파일</label> <input type="file" name="imgPath" />
						</div>
					
					</form>
					
						<button class="w-btn w-btn-gray modifyBtn"  type="submit">수정</button>
					 
						<button class="w-btn w-btn-gray listBtn" type="submit">목록으로</button>
					
					
						<button class="w-btn w-btn-gray removeBtn" type="submit">삭제</button>
					
				</div>
			</div>
			
			</body>
			
		<script th:inline="javascript">

        	var form = $("form");

            $(".modifyBtn").click(function() {
                if(!confirm("수정하시겠습니까?")){
                    return ;
                }

                form
                    .attr("action", "/board/modify")
                    .attr("method","post")
                    .submit();
            });

            $(".listBtn").click(function() {
                form
                    .attr("action", "/board/list")
                    .attr("method","get")
              		.submit();
            })

            $(".removeBtn").click(function(){
            	form
                    .attr("action", "/board/remove")
                    .attr("method","post")
                    .submit();
            });

        </script>
		
		
		
	</th:block>

</th:block>
</html>