<!DOCTYPE html>
<html>
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">

    <th:block th:fragment="content"> 
    
    <link href="/css/weather.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Jost&family=Montserrat&family=Work+Sans&display=swap" rel="stylesheet">
    	<body>
    <div class="page-wrap">
  <!-- 일주일 예보 -->
  <div class="weather-week">
    <div class="weekly-weather topbar emp-125">
        <span class="bold main black-text">날씨 정보</span>
        <span class="separator">|</span>
        <span class="main gray-text" id="weekly-location">인천광역시</span>
    </div>
    
    <div class="weekly-weather grid-1" id="weekly-weather">
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day1"><sapn id="month"></sapn><span id="date"></span></span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" th:src="${weather0.img}" alt="weather icon small"/>
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather1">[[${weather0.wf}]]</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp1">[[${weather0.ta}]]</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp1">[[${weather0.numEf}]]</span>&deg;C</span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp6">강수확률</span></span>
                <span class="bold sub gray-text"> : <span id="high-temp6">[[${weather0.rnSt}]]</span>%</span>
            </div>
        </div>
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day1"><sapn id="month2"></sapn><span id="date2"></span></span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" th:src="${weather2.img}" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather2">[[${weather2.wf}]]</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp2">[[${weather2.ta}]]</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp2">[[${weather2.numEf}]]</span>&deg;C</span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp6">강수확률</span></span>
                <span class="bold sub gray-text"> : <span id="high-temp6">[[${weather2.rnSt}]]</span>%</span>
            </div>
        </div>
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day1"><sapn id="month3"></sapn><span id="date3"></span></span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" th:src="${weather4.img}" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather3">[[${weather4.wf}]]</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp3">[[${weather4.ta}]]</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp3">[[${weather4.numEf}]]</span>&deg;C</span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp6">강수확률</span></span>
                <span class="bold sub gray-text"> : <span id="high-temp6">[[${weather4.rnSt}]]</span>%</span>
            </div>
        </div>
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day1"><sapn id="month4"></sapn><span id="date4"></span></span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" th:src="${skyWeather.wf3PmImg}" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather4">[[${skyWeather.wf3Pm}]]</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp4">[[${tempWeather.taMin3}]]</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp4">[[${tempWeather.taMax3}]]</span>&deg;C</span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp6">강수확률</span></span>
                <span class="bold sub gray-text"> : <span id="high-temp6">[[${skyWeather.rnSt3Pm}]]</span>%</span>
            </div>
        </div>
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day1"><sapn id="month5"></sapn><span id="date5"></span></span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" th:src="${skyWeather.wf4PmImg}" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather5">[[${skyWeather.wf4Pm}]]</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp5">[[${tempWeather.taMin4}]]</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp5">[[${tempWeather.taMax4}]]</span>&deg;C</span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp6">강수확률</span></span>
                <span class="bold sub gray-text"> : <span id="high-temp6">[[${skyWeather.rnSt4Pm}]]</span>%</span>
            </div>
        </div>
        <div class="ww-elem padme1">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day1"><sapn id="month6"></sapn><span id="date6"></span></span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" th:src="${skyWeather.wf5PmImg}" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather6">[[${skyWeather.wf5Pm}]]</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp6">[[${tempWeather.taMin5}]]</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp6">[[${tempWeather.taMax5}]]</span>&deg;C</span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp6">강수확률</span></span>
                <span class="bold sub gray-text"> : <span id="high-temp6">[[${skyWeather.rnSt5Pm}]]</span>%</span>
            </div>
        </div>
    </div>
</div>
</div>

	<script type="text/javascript">
	    let day = new Date();
	    document.getElementById('month').innerHTML =parseInt(day.getMonth()+1) + "월";	
	    document.getElementById('month2').innerHTML =parseInt(day.getMonth()+1) + "월";
	    document.getElementById('month3').innerHTML =parseInt(day.getMonth()+1) + "월";
	    document.getElementById('month4').innerHTML =parseInt(day.getMonth()+1) + "월";
	    document.getElementById('month5').innerHTML =parseInt(day.getMonth()+1) + "월";
	    document.getElementById('month6').innerHTML =parseInt(day.getMonth()+1) + "월";
	    document.getElementById('date').innerHTML = day.getDate()+"일";
	    document.getElementById('date2').innerHTML = day.getDate()+1+"일";
	    document.getElementById('date3').innerHTML = day.getDate()+2+"일";
	    document.getElementById('date4').innerHTML = day.getDate()+3+"일";
	    document.getElementById('date5').innerHTML = day.getDate()+4+"일";
	    document.getElementById('date6').innerHTML = day.getDate()+5+"일";
    </script>

</body>

      </th:block>

</th:block>
</html>