<!DOCTYPE html>
<html>
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">

    <th:block th:fragment="content"> 
<link href="/css/list.css" rel="stylesheet">
        <link href="/css/weather.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Jost&family=Montserrat&family=Work+Sans&display=swap" rel="stylesheet">
            <div class="page-wrap">
  <!-- 일주일 예보 -->
  <div class="weather-week">
    <div class="weekly-weather topbar emp-125">
        <span class="bold main black-text">날씨 정보</span>
        <span class="separator">|</span>
        <span class="main gray-text" id="weekly-location">인천광역시</span>
    </div>
    <div class="weekly-weather grid-1" id="weekly-weather">
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day1">월</span></span>
                <span class="bold sub gray-text date"> / <span id="date1">5.15</span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" src="https://raw.githubusercontent.com/comet-azure/ApiCaller/85061730f1af7c947ce04c6461e2cf9cc661eaad/public/img/fog.svg" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather1">비 약간</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp1">10</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp1">24</span>&deg;C</span>
            </div>
        </div>
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day2">화</span></span>
                <span class="bold sub gray-text date"> / <span id="date2">5.15</span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" src="https://raw.githubusercontent.com/comet-azure/ApiCaller/85061730f1af7c947ce04c6461e2cf9cc661eaad/public/img/cloudy.svg" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather2">비 약간</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp2">10</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp2">24</span>&deg;C</span>
            </div>
        </div>
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day3">수</span></span>
                <span class="bold sub gray-text date"> / <span id="date3">5.15</span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" src="img/light-rain.svg" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather3">비 약간</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp3">10</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp3">24</span>&deg;C</span>
            </div>
        </div>
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day4">목</span></span>
                <span class="bold sub gray-text date"> / <span id="date4">5.15</span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" src="img/light-rain.svg" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather4">비 약간</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp4">10</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp4">24</span>&deg;C</span>
            </div>
        </div>
        <div class="ww-elem">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day5">금</span></span>
                <span class="bold sub gray-text date"> / <span id="date5">5.15</span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" src="img/light-rain.svg" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather5">비 약간</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp5">10</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp5">24</span>&deg;C</span>
            </div>
        </div>
        <div class="ww-elem padme1">
            <div class="ww-top-text">
                <span class="bold sub black-text weekday"><span id="day6">토</span></span>
                <span class="bold sub gray-text date"> / <span id="date6">5.15</span></span>
            </div>
            <div class="ww-icon">
                <img class="ww-icon-small" src="img/light-rain.svg" alt="weather icon small" />
            </div>
            <div class="ww-bottom-text">
                <span class="bold sub black-text"><span id="weather6">비 약간</span></span>
                <br />
                <span class="bold sub black-text"> <span id="low-temp6">10</span>&deg;C</span>
                <span class="bold sub gray-text"> / <span id="high-temp6">24</span>&deg;C</span>
            </div>
        </div>
    </div>
</div>
</div>
        
<section class="notice">
  
  
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">HOME TEAM</th>
                    <th scope="col" class="th-title">DATE</th>
                    <th scope="col" class="th-title">TIME</th>
                    <th scope="col" class="th-title">COURT</th>
                    <th scope="col" class="th-num"></th>
                    <!-- <th scope="col" class="th-date">등록일</th> -->
                </tr>
                </thead>
                <tbody>
                
                <tr th:each="dto:${list}" th:if="${dto.matchingAway == null}">
                    <td>[[${dto.matchingHome}]]</td>
                    <td>[[${dto.matchingDate}]]</td>
                    <td>[[${dto.matchingTime}]]</td>
                    <td>[[${dto.matchingCourtName}]]</td>
                    <td><a th:href="@{/matching/read(matchingNo=${dto.matchingNo})}">
	                     신청하기
                    </a></td>
                </tr>
                </tbody>
            </table>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="st-pagination"> 
              <!--st-pagination-->
             
            </div>
            </div>
        </div>
    </div>
    

</section>

    </th:block>

</th:block>
</html>