
<th:block th:replace="~{layout/layout :: setContent(~{this::content})}">

    <th:block th:fragment="content"> 

<div style="text-align:center;">
<!-- 글자 크기 수정 -->
<h1 style="font-size:35px">인기 풋살 영상</h1>
<!-- <iframe id="ytplayer" type="text/html" width="1000" height="562.5"
src="https://www.youtube.com/embed/?autoplay=1&mute=1&playlist=tD7nd2UpUXQ"
frameborder="0" allowfullscreen> -->

<div class=player>
<iframe id="ytplayer" type="text/html" width="1000" height="562.5"
src="https://www.youtube.com/embed/tGE22bfmrks?autoplay=1&mute=1&loop=1&playlist=tD7nd2UpUXQ"
frameborder="0" allowfullscreen></iframe>
</div>

    </th:block>

</th:block>
