<!DOCTYPE html>
<html>
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">

    <th:block th:fragment="content"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="text-align:center;">
<h1 style="font-size:65px">인기 풋살 영상</h1>
<!-- <iframe id="ytplayer" type="text/html" width="1000" height="562.5"
src="https://www.youtube.com/embed/?autoplay=1&mute=1&playlist=tD7nd2UpUXQ"
frameborder="0" allowfullscreen> -->

<!-- <iframe id="ytplayer" type="text/html" width="1000" height="562.5"
src="https://www.youtube.com/embed/tGE22bfmrks?autoplay=1&mute=1&loop=1&playlist=tD7nd2UpUXQ"
frameborder="0" allowfullscreen></iframe> -->

<iframe id="ytplayer" type="text/html" width="1000" height="562.5"
src="https://www.youtube.com/embed/tGE22bfmrks?autoplay=1&playlist=bq5-GuVjJJo"
frameborder="0" allowfullscreen>
</div>
</body>

    </th:block>

</th:block>
</html>